<!-- <mat-spinner></mat-spinner> -->

<mat-tab-group>
  <mat-tab label="Portal de Chamado">
    <div class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Portal de Chamado</mat-card-title>
          <mat-card-subtitle class="subTitulo">TypeScript e Angular 17</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            class="img blur-image"
            src="../../../../assets/portal-chamado.png"
            alt="calculadora"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Controle de Estoque"
    ><div class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Controle de Estoque</mat-card-title>
          <mat-card-subtitle class="subTitulo">TypeScript e Angular 15</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            class="img blur-image"
            src="../../../../assets/controle-estoque.png"
            alt="clima"
          />
        </mat-card-content>
      </mat-card></div
  ></mat-tab>
</mat-tab-group>
