.blur-image {
  filter: blur(5px);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  align-items: center;
  text-align: center;
  width: 100vh;
}

.texto{
margin: 20px;
}

.img {
  margin-top: 15px;
  height: 40vh;
}

.button {
  margin: 0 5px 0 5px
}
