<mat-tab-group>
  <mat-tab label="Calculadora">
    <div class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Calculadora</mat-card-title>
          <mat-card-subtitle>JavaScript e React</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="texto">
            Este projeto foi desenvolvido utilizando React e JavaScript, e
            envolve a criação de uma calculadora. É um projeto ideal para todo
            desenvolvedor iniciante, pois oferece uma excelente oportunidade
            para praticar e aprimorar habilidades fundamentais. Criar uma
            calculadora permite explorar conceitos essenciais como estados,
            componentes, e manipulação de eventos em React, além de fortalecer a
            lógica de programação e a compreensão de JavaScript.
          </p>
          <img
            mat-card-image
            class="img"
            src="../../../../assets/calculadora.png"
            alt="calculadora"
          />
        </mat-card-content>
        <mat-card-actions>
          <button class="button">
            <img
              src="https://img.shields.io/badge/Vercel-000000?style=for-the-badge&logo=vercel&logoColor=white"
              alt="Vercel"
              class="button-img"
            />
          </button>
          <button class="button">
            <img
              src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
              alt="GitHub"
              class="button-img"
            />
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Clima"
    ><div class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Clima</mat-card-title>
          <mat-card-subtitle>TypeScript e Angular</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="texto">
            Projeto consiste em uma aplicação web desenvolvida em Angular,
            TypeScript e SCSS para fornecer previsões meteorológicas utilizando
            a API OpenWeatherMap. Os usuários podem pesquisar e visualizar
            previsões detalhadas para diferentes localidades, com atualizações
            em tempo real. A interface é intuitiva e responsiva, proporcionando
            uma experiência de usuário fluida em dispositivos de todos os
            tamanhos. O projeto visa aprofundar conhecimentos nessas
            tecnologias, praticar integração de APIs externas e explorar
            conceitos avançados de gerenciamento de estado em aplicações
            Angular.
          </p>
          <img
            mat-card-image
            class="img"
            src="../../../../assets/clima.png"
            alt="clima"
          />
        </mat-card-content>
        <mat-card-actions>
          <button class="button">
            <img
              src="https://img.shields.io/badge/Vercel-000000?style=for-the-badge&logo=vercel&logoColor=white"
              alt="Vercel"
              class="button-img"
            />
          </button>
          <button class="button">
            <img
              src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
              alt="GitHub"
              class="button-img"
            />
          </button>
        </mat-card-actions>
      </mat-card></div
  ></mat-tab>
  <mat-tab label="Pong"
    ><div class="container">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Pong</mat-card-title>
          <mat-card-subtitle>JavaScript, HTML e CSS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="texto">
            O projeto é uma recriação do clássico jogo Pong, desenvolvido
            utilizando JavaScript, CSS e HTML. Este projeto oferece uma
            experiência nostálgica, trazendo o icônico jogo de arcade para a
            web. Foi projetado para rodar suavemente em navegadores modernos,
            proporcionando uma jogabilidade fluida e responsiva. Além de ser uma
            divertida atividade de programação, este projeto também serve como
            uma excelente oportunidade para praticar e aprimorar habilidades em
            JavaScript, CSS e HTML, incluindo manipulação de DOM e lógica de
            jogo.
          </p>
          <img
            mat-card-image
            class="img"
            src="../../../../assets/pong.png"
            alt="clima"
          />
        </mat-card-content>
        <mat-card-actions>
          <button class="button">
            <img
              src="https://img.shields.io/badge/Vercel-000000?style=for-the-badge&logo=vercel&logoColor=white"
              alt="Vercel"
              class="button-img"
            />
          </button>
          <button class="button">
            <img
              src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
              alt="GitHub"
              class="button-img"
            />
          </button>
        </mat-card-actions>
      </mat-card></div
  ></mat-tab>
</mat-tab-group>
