<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="welcome"
        ><img
          src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&weight=600&size=30&pause=1000&color=673AB7&random=false&width=435&lines=Ol%C3%A1%2C+Seja+Bem-vindo!!!;Este+%C3%A9+meu+portif%C3%B3lio;Me+chamo+Felipe+Pereira"
          alt="Typing SVG"
      /></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="texto">
        Iniciei na área de tecnologia em 2022 e possuo conhecimentos em
        manutenção de hardware e software. Atualmente, estou me dedicando ao
        estudo de front-end, utilizando tecnologias como JavaScript,
        TypeScript e Angular. Criei este portfólio com o intuito de
        compartilhar os projetos que desenvolvi.
      </p>
    </mat-card-content>
  </mat-card>
</div>
