.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: whitesmoke;
}

.card {
  align-items: center;
  width: 100vh;
  margin: 0 10px 0 10px;
  background-color: #000000;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.texto {
  margin: 0 20px;
  font-size: 16px;
}
